node_modules/
**/node_modules/

dist/
**/dist/
build/
.cache/

.env
.env.*
*.env

logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
Thumbs.db

*.tsbuildinfo

dist-ssr

.vscode/*
!.vscode/extensions.json
.idea